## There are a lot of word lists on the internet.

This one is mine.

What's a real English word and what is not? I decided to collect a bunch of lists of words from the internet and merge them together.

Sources:

* 'corncob': http://www.mieliestronk.com/wordlist.html
* 'ecprice': https://www.mit.edu/~ecprice/wordlist.10000
* 'dwyl': https://github.com/dwyl/english-words/raw/master/words_alpha.txt
* 'sketchyscrabble': https://www.kaggle.com/datasets/bdelanghe/scrabble-dictionary

In [16]:
import pandas as pd
import os, glob


filenames = os.listdir("word_lists")

word_lists = {}

for f in filenames:
    if f.startswith("."):
        continue
    assert "." in f, "bad filename"
    (name, extension) = f.split(".")
    word_lists[name] = pd.read_csv(f"./word_lists/{f}", header=None)


word_lists.keys()

dict_keys(['corncob', 'sketchyscrabble', 'dwyl', 'ecprice'])

In [17]:
word_lists['sketchyscrabble'].head(100)

              0
0            aa
1           aah
2         aahed
3        aahing
4          aahs
..          ...
95    abbotcies
96      abbotcy
97       abbots
98   abbreviate
99  abbreviated

[100 rows x 1 columns]

In [19]:
for k, v in word_lists.items():
    print(f"{k} -- {len(v)}")

corncob -- 58110
sketchyscrabble -- 172820
dwyl -- 370105
ecprice -- 10000

Let's merge all of them together. I'm actually going to use the python Collections counter. There may be a better pure pandas solution.

In [26]:
from collections import Counter

word_counter = Counter()

for k, df in word_lists.items():
    for (idx, row) in df.iterrows():
        word_counter[row[0]] += 1

In [27]:
word_counter.most_common(10)

[(nan, 6),
 ('abandoned', 4),
 ('abilities', 4),
 ('ability', 4),
 ('able', 4),
 ('aboriginal', 4),
 ('abortion', 4),
 ('about', 4),
 ('above', 4),
 ('abroad', 4)]

now, back to a dataframe. (yeah, I know)

In [28]:
master_word_list = pd.Series(word_counter)

master_word_list.head()

aardvark    3
aardwolf    3
aaron       3
aback       3
abacus      3
dtype: int64

In [34]:
master_word_list[master_word_list > 3]

abandoned     4
abilities     4
ability       4
able          4
aboriginal    4
             ..
zone          4
zones         4
zoning        4
zoo           4
zoom          4
Length: 7802, dtype: int64